<article class="post">
  <div class="uk-width-1-2">
    <div class="uk-card uk-card-default" id="post-div">
      <div class="uk-card-media-top post-image">
        <img src="{{post_url}}" alt="post image" />
      </div>
      <div class="uk-card-body">
        <h2 class="post-destination">{{post_destination}}</h2>
        <p class="post-creator">by {{user.username}}
          on{{format_date created_at}}</p>
          {{#if user.bio}}
            <div class="uk-visible-toggle" tabindex="0">
              <a>User Bio</a>
            <div class="uk-hidden-hover">{{user.bio}}</div>
            </div>
          {{/if}}
        <p class="blog-text">{{post_content}}</p>
      </div>
      {{!-- add {{#if (user.id === post.user_id)}} --}}
        <a id="single-post-link" href="./single-post" >EDIT/DELETE</a>
        {{!-- <button class="uk-button uk-button-default uk-margin-large-left" type="submit" id="post-delete-btn">DELETE</button> --}}
    </div>
  </div>
</article>