{{!-- <ol class="post-list">
  <li>
    <article class="post">
      <div class="post_url">
        <a href="{{format_url post_url}}"></a>
        <span>({{format_url post_url}})</span>
      </div>
      <div class="post_content">
        {{post_content}}
      </div>
      <div class="meta">
        by
        {{user.username}}
        on
        {{format_date created_at}}
        |
      </div>
    </article>
  </li>
</ol> --}}

<ol class="post-list">
  <li>
    <article class="post">
      <div class="uk-width-2-3">
        <div>
          <div class="uk-card uk-card-default" id="post-div">
            <div class="uk-card-media-top">
              <img src="{{format_url post_url}}" alt="post image" />
            </div>
            <div class="uk-card-body">
              <h3 class="uk-card-title">by
                {{user.username}}
                on
                {{format_date created_at}}</h3>
              <p>{{post_content}}</p>
            </div>
          </div>
        </div>
      </div>
    </article>
  </li>
</ol>